{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mt-4 mb-4">Edición de Usuarios</h1>

{% for usuario in usuarios %}
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">{{ usuario.nombre }} {{ usuario.apellido1 }} {{ usuario.apellido2 }}</h5>
        <form method="POST" action="{{ url_for('edtuser') }}">
            <input type="text" name="nombre" value="{{ usuario.nombre }}">
            <input type="text" name="apellido1" value="{{ usuario.apellido1 }}">
            <input type="text" name="apellido2" value="{{ usuario.apellido2 }}">
            <input type="text" name="cargo" value="{{ usuario.cargo }}">
            <input type="text" name="empresa" value="{{ usuario.empresa }}">
            <input type="text" name="calle" value="{{ usuario.calle }}">
            <input type="text" name="numeroExt" value="{{ usuario.numeroExt }}">
            <input type="text" name="numeroInt" value="{{ usuario.numeroInt }}">
            <input type="text" name="colonia" value="{{ usuario.colonia }}">
            <input type="text" name="municipio" value="{{ usuario.municipio }}">
            <input type="text" name="estado" value="{{ usuario.estado }}">
            <input type="text" name="codigopostal" value="{{ usuario.codigopostal }}">
            <input type="text" name="telefono" value="{{ usuario.telefono }}">
            <input type="email" name="email" value="{{ usuario.email }}">
            <input type="date" name="fechanacimiento" value="{{ usuario.fechanacimiento }}">
            
            <div class="text-right">
                <button type="submit" class="btn btn-primary mt-3">
                    <img  alt="Editar" /> Editar
                </button>
            </div>
        </form>
        <hr>
        <table class="table">
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <td>{{ usuario.nombre }}</td>
                </tr>
                <tr>
                    <th>Primer Apellido</th>
                    <td>{{ usuario.apellido1 }}</td>
                </tr>
                <tr>
                    <th>Segundo Apellido</th>
                    <td>{{ usuario.apellido2 }}</td>
                </tr>
                <tr>
                    <th>Cargo</th>
                    <td>{{ usuario.cargo }}</td>
                </tr>   
                <tr>
                    <th>Empresa</th>
                    <td>{{ usuario.empresa }}</td>
                </tr>       
                <tr>
                    <th>Calle</th>
                    <td>{{ usuario.calle }}</td>
                </tr>
                <tr>
                    <th>Numero Exterior</th>
                    <td>{{ usuario.numeroExt }}</td>
                </tr>
                <tr>
                    <th>Numero Interior</th>
                    <td>{{ usuario.numeroInt }}</td>
                </tr>
                <tr>
                    <th>Colonia</th>
                    <td>{{ usuario.colonia }}</td>
                </tr>           
                <tr>
                    <th>Municipio</th>
                    <td>{{ usuario.municipio }}</td>
                </tr>
                <tr>
                    <th>Estado</th>
                    <td>{{ usuario.estado }}</td>
                </tr>
                <tr>
                    <th>Código Postal</th>
                    <td>{{ usuario.codigopostal }}</td>
                </tr>
                <tr>
                    <th>Teléfono</th>
                    <td>{{ usuario.telefono }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ usuario.email }}</td>
                </tr>
                <tr>
                    <th>Fecha de nacimiento</th>
                    <td>{{ usuario.fechanacimiento }}</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
{% endfor %}

{% endblock %}